#UML{
    height: 470px; 
    width: 400px; 
    float: right;
}
.negSub{
    font-weight: bold; 
    text-decoration: underline;
}
#tituloPage{
    background-color: rgb(112, 201, 207);
    border-radius: 20px;
    text-align: center;
}
.cuadroError{
    border: solid rgb(255, 46, 46) 1px;
    background-color: rgb(250, 112, 112);
    border-radius: 3px;
}