#UML{
    height: 470px; 
    width: 400px; 
    float: right;
}
.negSub{
    font-weight: bold; 
    text-decoration: underline;
}
#tituloPage{
    background-color: rgb(112, 201, 207);
    border-radius: 20px;
    text-align: center;
}